*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#forNav{
    display: block;
}
body{
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    background: #111;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

nav{
    margin: 0px;
    padding-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 1vh;
    background-color: #816540;
    font-family: 'Petit Formal Script', cursive;
    font-weight: bold;
    text-align: center;
}

.logo{
    margin-top: 0px;
    padding-top: 0px;
    align-items: center;
    color: rgb(196, 192, 192);
    /* text-transform: uppercase; */
    letter-spacing: 3px;
    font-size: calc(14px + (26 - 14) * ((180vw - 100px) / (1600 - 300)));
    display: flex;
    gap: 55px;
}
.ako {
    width: 75px;
    height: 70%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.ako2 {
  width: 75px;
  height: 70%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  left: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 33%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(196, 192, 192);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: calc(14px + (26 - 14) * ((50vw - 100px) / (1600 - 300)));
}

.Ini{
    color: rgb(79, 245, 223);
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 50%;
    }

}

@media screen and (max-width:768px) {
    body { overflow-x: hidden; }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 30%;
        top: 0vh;
        background-color: #816540;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;} 
    .nav-links li{ opacity: 100%;}
    .burger{display: block;}
    #ako2{display: none;}
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 7%;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.nav-links a:hover {
    color: rgb(79, 245, 223);
  }








  #drag-container, #spin-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  
  #drag-container img, #drag-container video {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 90%;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
            box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
  }
  
  #drag-container img:hover, #drag-container video:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
            box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
  }
  
  #drag-container p {
    font-family: Serif;
    font-size: 100px;
    position: absolute;
    top: 190%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    color: #816540;
  }
  
  #ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
  }
  
  #music-container {
    position: absolute;
    top: 110px;
    left: 0;
    display: hide;
  }
  
  @-webkit-keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }

   #drag-container{
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .control{
 padding-left: 50%;
 font-size: calc(10px + (26 - 14) * ((70vw - 50px) / (1600 - 300)));
  }