*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    margin: 0;
    padding: 0px;
    font-family: 'Petit Formal Script', cursive;
}

nav{
    margin: 0px;
    padding-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #816540;
    font-family: 'Petit Formal Script', cursive;
}

.mypage{
    margin-top: 0px;
    padding-top: 0px;
    align-items: center;
    color: rgb(196, 192, 192);
    letter-spacing: 5px;
    font-size: calc(14px + (26 - 14) * ((180vw - 100px) / (1600 - 300)));
    font-weight: bold;
    display: flex;
    gap: 35px;
}

.ako {
    width: 70px;
    height: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.Ini{
  color: rgb(79, 245, 223);
}

.nav-links{
    margin-top: 37px;
    display: flex;
    gap: 20px;
    height: 100%;
    padding-bottom: 0px
}

.nav-links li{
    list-style: none;
    padding-bottom: 0px
}

.nav-links a{
    padding-bottom: 0px;
    color: rgb(196, 192, 192);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: calc(14px + (26 - 14) * ((50vw - 100px) / (1600 - 300)));
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 40px;
    height: 7px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

/* Small screens */
@media screen and (max-width:768px) {
    body { overflow-x: hidden; }
    .nav-links{
      padding: 10px;
      position: absolute;
      right: 10px;
      height: 200px;
      top: 77px;
      background-color: #816540;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 17%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;} 
    .nav-links li{ opacity: 100%;}
    .burger{display: block;}
    .logo {
      display: none;
    }
    .navbar {
      top: 0;
      width: 10%;

    }
    .nav-link {
      justify-content: center;
    }
    main {
      margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 768px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-11px,7px);
}
.toggle .line2 {
    opacity: 7%;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-9px,-6px);
}

.nav-links a:hover {
    color: rgb(79, 245, 223);
  }




/* CSS OF SIDEBAR MENU */
:root {
    font-size: 16px;
    font-family: 'Petit Formal Script', cursive;
    --text-primary: #ececec;
    --text-secondary: rgb(79, 245, 223);
    --bg-secondary: black;
    --transition-speed: 1300ms;
  }

#socmedlogo{
    width: 35px;
    height: 33px;
    margin-left: 17px;
    border-radius: 10px;
  }

.navbar {
    margin-top: 100px;
    background-color: black;
    transition: width 100ms ease;
    position: fixed;
  }
  
.secondnav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
.link-text {
    display: none;
    margin-left: 1rem;
  }
  
.nav-link svg {
       margin: 0 .5rem;
  }
  
  .fa-primary {
    color: rgb(79, 245, 223);
  }
  
  .fa-secondary {
    color: rgb(79, 245, 223);
  }
  
  .fa-primary, .fa-secondary {
    transition: var(--transition-speed);
  }
  
.logo {
    font-weight: bold;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.3rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
.logo-text {
    display: inline;
    position: absolute;
    left: -300px;
    transition: var(--transition-speed);
  }



  h1 {
    text-align: center;
    padding: 50px;
    color: aqua;
    font-weight: bolder;
    font-size: calc(14px + (26 - 14) * ((280vw - 100px) / (1600 - 300)));
  }
  h2 {
    margin-left: 130px;
    padding: 50px;
    color: #816540;
    font-weight: bolder;
    font-size: calc(14px + (26 - 14) * ((93vw - 100px) / (1600 - 300)));
  }
  h3 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(196, 192, 192);
    margin-left: 130px;
    margin-right: 120px;
    padding: 30px;
    font-weight: bolder;
    font-size: calc(14px + (26 - 14) * ((73vw - 100px) / (1600 - 300)));
  }
  
  .philo {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(196, 192, 192);
    margin-left: 130px;
    margin-right: 10px;
    padding: 30px;
    font-weight: lighter;
    font-size: calc(14px + (26 - 14) * ((73vw - 100px) / (1600 - 300)));
  }
  
  .techlogo {
    width: 10rem;
    height: 10rem;
  }
  .divone {
    text-align: center;
    align-content: center;
  }
  .divtwo {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 30px;
  }
  .divthree {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
  }
  label {
    color: #816540;
    font-size: calc(14px + (26 - 14) * ((73vw - 100px) / (1600 - 300)));
  }
  .lets {
    margin: 200px;
    color: #ececec;
    font-size: calc(14px + (26 - 14) * ((225vw - 100px) / (1600 - 300)));
    text-align: center;
  }
  .jr {
    border-color: #816540;
  }
  .footer {
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 30px;
    font-size: calc(14px + (26 - 14) * ((50vw - 100px) / (1600 - 300)));
  }
  .footer img{
    width: 50px;  
    height: 50px;
}




.container {
  /* position: relative; */
  max-width: 800px;
  margin: 0 auto;

}

.container img {vertical-align: top;}

.container .content {
  
  position: fixed;
  top: 100px;
  background: rgb(227, 72, 72); /* Fallback color */
  background: black;
  color: #f1f1f1;
  left: 65px;
  width: 100%;
  padding: 0px;
  opacity: 33%;
}